<%= form_for Post.new do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class= "large-6 medium-6 columns">
      <label>
         <%= f.text_area :content, class: 'form-control', placeholder: "Post your work and write here about it" %>
      </label>
    </div>
     <div class= "large-6 medium-6 small-6 columns"><%= f.submit class: 'small button' %>
      <%= f.file_field :avatar %> 
    </div>
  </div>
<% end %>
