<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "▲rtsh▲re" %></title>
    <script src="js/foundation/foundation.reveal.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
    <nav class="top-bar" data-topbar>
      <section class="tab-bar-section">
        <div class="navbar-brand" href="/"><img alt="logo"  src="/assets/artshare_logo_web.png" width = "120"></div>
      </section>
      
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        
        <% if user_signed_in? %>
        <ul class="right">
          <li><a href="#"><%= link_to "Discussion", root_path %></a></li>
          <li><a href="#"><%= link_to "Artists", users_path %></a></li>
          <li><a href="#"><%= link_to "My Work", current_user %></a></li>
        </ul>       
            <% else %>
            
          <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <div class= "container">
    <%= yield %>
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>